@media(max-width: 1170px) {
    .section-subtitle {
        max-width: 60%;
    }
}

@media(max-width: 991px) {
    .banner_section {
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    .header .navbar {
        background-size: cover;
        border-radius: 1rem;
        padding: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.3rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.3rem 0.5rem;
    }
}

@media(max-width: 767px) {
    .about-content {
        margin-top: 10rem;
    }
    body, html {
        font-size: 9px;
    }

    .section-subtitle {
        max-width: 80%;
    }

    .banner_section {
        min-height: 60vh;
    }

    .banner_section .carousel-item {
        height: 60vh;
    }
}

@media(max-width: 590px) {
    body, html {
        font-size: 8px;
    }
    .csapat-table {
        font-size: 8px !important;
    }
}
